@use '../../../variables' as var;

// Main Content
.main-content {
  flex: 1;
  overflow: hidden;
  position: relative;
}

// Layout
.app-container {
  display: flex;
  height: 100vh;
  background: linear-gradient(to bottom right, var.$bg-gradient-from, var.$bg-gradient-via, var.$bg-gradient-to);
  overflow: hidden;
}